* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body {
	width: 100vw;
	height: 100vh;
}
#bg{
	background: url("https://images.unsplash.com/photo-1493711662062-fa541adb3fc8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") no-repeat center center fixed;
	background-size: cover;
}
header {
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	padding-top: 20px;
}
#logo {
	width: 10rem;
}
nav ul {
	display: flex;
	flex-direction: row;
	gap: 50px;
	align-items: center;
	justify-content: center;
    list-style-type: none;
    font-size: 1.2rem;
}
nav a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}
nav a:hover {
	cursor: pointer;
	color: #666666;
    border-bottom: 3px solid black;
}
.selected{
    border-bottom: 3px solid black;
}
.selected-light{
    border-bottom: 3px solid white;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 200px;
}
section h1{
    font-size: 5rem;
    animation: fadeUp 2s normal;
}
section h2{
    font-size: 1.8rem;
    text-align: center;
    animation: fadeUp 2s normal;
}
@keyframes fadeUp {
	0% {
		transform: translate(0, 60%);
		opacity: 0;
	}
	100% {
		transform: translate(0, 0);
		opacity: 1;
	}
}
#btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
button{
    padding: 15px 35px;
    outline: none;
    border: none;
    border-radius: 5px;
    background-color: black;
    animation: fadeUp 2s normal;
}
button a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
button a img{
    width: 35px;
    margin-left: 8px;
}
@media screen and (max-width: 768px) {
    header{
        flex-direction: column;
    }
    nav{
        padding-top: 10px;
    }
    section h1{
        font-size: 4rem;
    }
    section h2{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 570px){
    nav ul{
        flex-direction: column;
        gap: 0px;
    }
    section {
        padding-top: 100px;
    }
    section h1{
        font-size: 3rem;
    }
    section h2{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 432px){
    section {
        padding-top: 100px;
    }
    section h1{
        font-size: 2.2rem;
    }
    section h2{
        font-size: 1rem;
    }
}